<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <title>NYC Annual Report</title>
</head>
<br>
<body class="flex items-center justify-center h-screen bg-blue-100">
    <div>
        <a href="google/" class="login-btn" style="text-decoration:none;">
    <button class="login-btn bg-blue-400 hover:bg-blue-600 text-white font-semibold text-1g py-2 px-4 rounded transition flex items-center align-items center">
            <img id="google" src="https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png"
            alt="Google"
            style="width: 100px; height: 100px;">
            <span class="btn-text">Login with Google</span>
    </button>
    </div>
</body>
</html>