<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annual Report for HIV & AIDS in NYC!</title>
    
    <!-- Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200">

    <header class="bg-blue-400 text-white p-4">
        <h1 class="text-2xl">Azure Deployment Flask App for Annual Report</h1>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="/" class="hover:underline">Home</a></li>
                <li><a href="/hiv" class="hover:underline">HIV</a></li>
                <li><a href="/aids" class="hover:underline">AIDS</a></li>
                <li><a href="/death" class="hover:underline">Deaths</a></li>
                <li><a href="/report" class="hover:underline">Report</a></li>
                <li><a href="/contactus" class="hover:underline">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main class="p-4">

        {% block content %}        
            <p>WELCOME!</p>
            <p>This is an example deployment for a database with NYC data</p>
            </br>
            <p>Navigate to the different sections of the database!</p>
        {% endblock %}

    </main>

    <footer class="bg-blue-400 text-white p-4 mt-6">
        <p>© 2023 My Healthcare App. All Rights Reserved.</p>
    </footer>
</body>

</html>